.container {
    margin-top: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    width: 300px;
    border-radius: 8px;
}

.title {
    text-align: left;
    margin-bottom: 0.2rem;
}

.author {
    text-align: left;
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: gray;
}

.description {
    text-align: left;
    line-height: 1.5;
}

.additional-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-primary {
    background-color: var(--color-button-primary);
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin: 0.3rem;
}

.btn-primary:hover {
    background-color: var(--color-button-secondary);
}

.btn-light {
    background-color: #f8f9fa;
    color: #343a40;
    border: 1px solid #ced4da;
    padding: 8px 16px;
    cursor: pointer;
}

.btn-light:hover {
    background-color: #e2e6ea;
}

.btn-primary:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.7;
}
.loading {
    margin-top: 15rem;
    font-size: var(--size-font-s);
}
