.book-card {
    padding: 0;
    border: none;
    position: relative;
    width: 170px;
    margin: 20px;
    cursor: pointer;
}

.card-image-container {
    position: relative;
}

.card-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.cart-button {
    position: absolute;
    bottom: -15px;
    right: 10px;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        background-color 0.3s,
        color 0.3s;
    padding: 5px;
}

.card-body-content {
    text-align: left;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: var(--color-font-primary);
}

.card-author {
    font-size: 14px;
    margin: 0;
    color: rgb(96, 96, 96);
}

.add-shelf-button {
    width: 100%;
    margin-top: 10px;
}
