.custom-navbar {
    padding-left: 40px; /* Padding left */
    padding-right: 50px; /* Padding right */
    z-index: 1000; /* Ensure the navbar is above other content */
    background-color: var(
        --color-background-secondary
    ) !important; /* Ensure the background color is applied */
    opacity: 1;
}

.search-container {
    position: fixed;
    right: 40px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-icon {
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
}

.search-form {
    transition: all 0.5s ease;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
}

.search-form.visible {
    max-width: 250px; /* Adjust the width as needed */
    opacity: 1;
}

.custom-navbar .form-control {
    margin-right: 10px; /* Space between search bar and button */
    width: 250px; /* Make the search bar longer */
}

@media (max-width: 992px) {
    .search-container {
        position: absolute; /* Change to absolute positioning */
        right: 125px; /* Adjust position to keep it from overlapping */
        top: 10px; /* Position it below the toggle button */
    }

    .custom-navbar {
        background-color: var(
            --color-background-secondary
        ); /* Ensure background color is consistent */
        opacity: 1; /* Ensure the navbar is fully opaque */
    }

    .navbar-toggler {
        background-color: var(
            --color-background-secondary
        ); /* Ensure the toggle button has a solid background */
        border: none;
    }

    .navbar-toggler:focus,
    .navbar-toggler:not(:disabled) {
        outline: none; /* Remove the default focus outline */
        border: none; /* Ensure no border is applied */
    }

    .navbar-toggler:focus-visible {
        outline: none;
    }

    .custom-nav {
        background-color: #fff; /* Change the toggle icon color to be visible against the background */
    }
}

@media (min-width: 992px) {
    .custom-navbar .navbar-collapse {
        justify-content: left;
    }

    .search-container {
        position: fixed; /* Keep fixed on larger screens */
        right: 50px; /* Adjust this value to position the container */
        display: flex;
        align-items: center;
        margin-left: 20px;
    }
}

.custom-nav .nav-link {
    margin-right: 50px; /* Add more space between the links */
}

.custom-nav:first-child {
    margin-left: 50px; /* Add more space between the links */
}
