.container {
    margin-top: 20px;
}

h2 {
    margin-bottom: 16px;
}

.mb-3 {
    margin-bottom: 1rem;
}

.form-label {
    font-weight: bold;
}

.form-control,
.form-select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 1rem;
}

#description {
    resize: none;
}

#image_preview {
    display: block;
    margin-top: 10px;
    max-width: 100%;
}

.btn-primary {
    background-color: var(--color-button-primary);
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--color-button-secondary);
}
